!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title Welcome to Nocman

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")

  %body.splash

    .container
      .row
        .span12
          .logo-container.page-header.text-center
            %img(src="/static/img/nocman_large.png")

      .row
        .span12.text-center
          %h3 Screen Title
          .well.lead
            ${screen_title}

          %h3 Screen IP Details
          .well.lead
            - if ip_lookup:
              ${screen_ip}
            - else:
              Unable to resolve management IP.

      %hr